
<div class="container-top">
  <div class="texts">
    <h2><i class="fa fa-list-alt" aria-hidden="true"></i> Encontre seu Produto</h2>
    <h5>Aqui se encontra uma lista dos produtos cadastrados, você pode realizar o filtro pelo nome do produto.</h5>
  </div>

  <!-- Campo de busca e botão de pesquisa -->
  <div class="search-bar">
    <input type="text" placeholder="Pesquisar produtos..." />
    <button class="search-button">Pesquisar</button>
  </div>
</div>

<div class="container container-items">
  <!-- Lista de produtos com espaçamento simétrico -->
  <div class="product-list">
    <div *ngFor="let product of products" class="product">
      <div class="product-body">
        <!--<img [src]="product.imageUrl" alt="{{product.name}}">-->
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Volkswagen_Gol_Highline_2023_%2853708009248%29_%28cropped%29.jpg/1200px-Volkswagen_Gol_Highline_2023_%2853708009248%29_%28cropped%29.jpg" alt="{{product.name}}">
        <h4>{{product.name}}</h4>
        <span class="label-success">
          <i class="fa fa-money"></i> {{product.price}}
        </span>
      </div>
      <div class="product-footer">
        <p class="location">
          <i class="fa fa-map-marker"></i> {{product.location}}
        </p>
      </div>
    </div>
  </div>
</div>
