.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 75px;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Barra de busca centralizada */
.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.search-bar input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  width: 300px;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #0bb1cb;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-button:hover {
  background-color: #009bb1;
}

/* Lista de produtos com espaçamento em cima e embaixo */
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Para garantir que os produtos ocupem o espaço disponível */
  margin: 30px 0; /* Espaçamento simétrico acima e abaixo */
}

/* Ajuste a largura dos itens para garantir que cabem 4 por linha */
.product-item {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  width: calc(23% - 15px); /* Ajuste para garantir que 4 produtos caibam na linha */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px; /* Espaçamento entre as linhas */
}

.product-item img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-item h2 {
  font-size: 1.2em;
  margin: 10px 0;
}

.product-item p {
  margin: 5px 0;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .product-item {
    width: calc(48% - 10px); /* 2 produtos por linha */
  }
}

@media (max-width: 480px) {
  .product-item {
    width: 100%; /* 1 produto por linha */
  }

  .search-bar input[type="text"] {
    width: 200px;
  }
}
