/* Caixa de login */
.login-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  text-align: center;
}

/* Título da caixa */
.login-box h2 {
  margin: 0 0 20px;
  color: #0bb1cb;
  font-size: 2rem;
  font-weight: bold;
}

/* Campos de entrada */
.user-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.user-box label {
  color: #0bb1cb;
  font-size: 16px;
  width: 100%;
  text-align: left;
  padding-left: 5px;
}

/* Estilização dos campos de entrada */
.user-box input[type="email"],
.user-box input[type="password"] {
  width: 90%;
  height: 35px;
  padding: 5px;
  font-size: 16px;
  color: #aaa;
  background: transparent;
  border: 1px solid #fff;
  outline: none;
  border-radius: 5px;
}

/* Botão de Envio */
.submit {
  position: relative;
  display: inline-block;
  padding: 12px 50px;
  font-size: 16px;
  font-weight: bold;
  color: #0bb1cb;
  text-transform: uppercase;
  text-decoration: none;
  margin: 20px auto;
  overflow: hidden;
  border: 2px solid #0bb1cb;
  transition: color 0.4s;
  background-color: transparent;
  cursor: pointer;
}

.submit:hover {
  color: #fff;
}

/* Efeitos de animação do botão */
.submit::before,
.submit::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, transparent, #0bb1cb, transparent);
  transition: transform 0.5s;
  transform: translateX(-100%) rotate(45deg);
}

.submit::before {
  top: -2px;
  left: -2px;
}

.submit::after {
  bottom: -2px;
  right: -2px;
}

.submit:hover::before {
  transform: translateX(100%) rotate(45deg);
}

.submit:hover::after {
  transform: translateX(-100%) rotate(45deg);
}

/* Estilo dos links */
.login-box p,
.login-box p:last-child {
  color: #aaa;
  font-size: 16px;
}

.forgot-password,
.register {
  color: #0bb1cb;
  text-decoration: none;
  font-weight: bold;
}
