<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- O menu -->
<div class="sidebar">
  <!-- Logo -->
  <div class="logo">
    <a routerLink="/home"><img src="assets/logo.png" alt="Logo" srcset=""></a>
  </div>

  <!-- Campo de pesquisa com ícone de lupa -->
  <div class="search-container">
    <input type="text" placeholder="Pesquisar..." id="searchInput">
    <button class="search-btn"><i class="fa fa-fw fa-search"></i></button>
  </div>




  <a routerLink="/myAds"><i class="fa fa-fw fa-envelope"></i> Meus Anúncios</a>

  <!-- Bolinha de perfil -->
  <div class="perfil">
    <a routerLink="/profile" class="profile-icon"><i class="fa fa-fw fa-user-circle"></i></a>
  </div>
</div>




