/* Estilizando o menu horizontal */
.sidebar {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.logo img {
  height: 85px;
  margin-right: 30px;
  margin-top: 10px;
}

/* Estilos dos links do menu */
.sidebar a {
  padding: 14px 20px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
}

/* Cor dos ícones nos links do menu */
.menu-links a i {
  color: #0bb1cb;
}

/* Cor de hover para os ícones do menu */
.menu-links a:hover i {
  color: #f1f1f1;
}

/* Estilos da bolinha de perfil */
.perfil {
  margin-left: auto;
}

/* Ícone de perfil com cor vermelha */
.perfil a .fa-user-circle {
  color: #0bb1cb;
}

.perfil a:hover .fa-user-circle {
  color: #f1f1f1; /* Tom mais claro de vermelho ao passar o mouse */
}

/* Ajustar o conteúdo principal */
.main {
  margin-top: 60px;
  padding: 10px;
}

/* Responsividade para telas menores */
@media screen and (max-width: 600px) {
  .sidebar a {
    font-size: 18px;
    padding: 12px 10px;
  }

  .logo img {
    height: 30px;
  }
}

body{
  font-family: sans-serif;
}